*{
  padding: 0;
  margin: 0;
 
}
.maintor{
    margin-top: 110px;
    display: flex;
    gap: 110px;
    
}
.image img{
    height: 280px;
    padding: 30px;
    margin-top: -10px;

  }
.image {
    
background-color: rgb(194, 15, 15);
 height: 320px;
 width: 250px;
}

.material-symbols-outlined{
color: red;
}
.second-div h3{
    color: red;
}

.second-div b{
    font-family: "DM Serif Text", serif;
}